body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        border: 0;
        background-color: blueviolet;
        color: white;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}